<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.juliogonzales">

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Activities.AllQuestionsActivity"></activity>
        <activity android:name=".Activities.AddImagesFinalActivity" />
        <activity android:name=".Activities.FinalImagesReportActivity" />
        <activity android:name=".Activities.SignActivity" />
        <activity android:name=".Activities.ImagesReportActivity" />
        <activity android:name=".Activities.SummaryLastReport" />
        <activity android:name=".Activities.LastReportSummaryActivity" />
        <activity android:name=".Activities.EditChecklistActivity" />
        <activity android:name=".Activities.LatestReportActivity" />
        <activity android:name=".Activities.SendReportActivity" />
        <activity android:name=".Activities.NewReportActivity" />
        <activity android:name=".Activities.ReportSummaryActivity" />
        <activity android:name=".Activities.WelcomeActivity" />
        <activity android:name=".Activities.QuestionActivity" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.example.android.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>